In [ ]:
# Load required libraries
import mysql.connector
import pandas as pd

In [ ]:
# Lets connect to Mysql server and choose the database('ecommerce') while connecting to the server
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Akshay7890$")
# creating a cursor object
cursorObject = connection.cursor()

In [ ]:
## Lets connect to Mysql server and choose the database('ecommerce')
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Akshay7890$")
## creating a cursor object
cursorObject = connection.cursor()

## creating database
cursorObject.execute("CREATE DATABASE ecommerce")

## closing the connection after creating a database('ecommerce')
connection.close()

In [ ]:
## Again connect to the Mysql server and while connecting Choose 'ECOMMRECE' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="Akshay7890$",
                                     database = 'ECOMMERCE')
 
## creating a cursor object
cursorObject = connection.cursor()

In [ ]:
## Creating Tables

table_creation_query = """create table Supplier(SUPP_ID int primary key , SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));

                          create table Customer(CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY VARCHAR(30), CUS_GENDER CHAR, PRIMARY KEY(CUS_ID));

                          create table Category(CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL, PRIMARY KEY(CAT_ID));

                          create table Product(PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL, PRIMARY KEY(PRO_ID), FOREIGN KEY(CAT_ID) REFERENCES Category (CAT_ID));

                          create table Product_Details(PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL, PRIMARY KEY(PROD_ID),FOREIGN KEY(PRO_ID) REFERENCES Product(PRO_ID),FOREIGN KEY(SUPP_ID) REFERENCES Supplier(SUPP_ID));
                          
                          create table Orders(ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES Customer(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES Product_Details(PROD_ID));
                          
                          create table Rating(RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY(RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES Supplier(SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES Customer(CUS_ID))"""
                  
# Executing the query
cursorObject.execute(table_creation_query)

In [ ]:
## After creating tables close the connection and reconnect to the server for inserting the data 

## closing the connection 
connection.close()
## Lets make a connection to Mysql server and choose database 'ecommerce'
connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="Akshay7890$",
                                     database='ecommerce')
## creating a cursor object
cursorObject = connection.cursor()

In [ ]:
## Inserting data to the tables

## Inserting data into "Supplier"

insert_Supplier = """INSERT INTO Supplier (SUPP_ID , SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES (%s, %s, %s, %s)""" 

val = [(1,'Rajesh Retails', 'Delhi', 1234567890),
       (2,'Appario Ltd.', 'Mumbai', 2589631470),
       (3,'Knome products', 'Bangalore', 9785462315),
       (4,'Bansal Retails', 'Kochi', 8975463285),
       (5,'Mittal Ltd.', 'Lucknow', 7898456532)]
   
cursorObject.executemany(insert_Supplier, val)
connection.commit()

In [ ]:
## Inserting data into "Customer"

insert_Customer = """INSERT INTO Customer (CUS_ID , CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES (%s, %s, %s, %s, %s)""" 

val = [(1,'AAKASH', 9999999999, 'DELHI', 'M'),
       (2,'AMAN', 9785463215, 'NOIDA', 'M'),
       (3,'NEHA', 9999999998, 'MUMBAI', 'F'),
       (4,'MEGHA', 9994562399, 'KOLKATA', 'F'),
       (5,'PULKIT', 7895999999, 'LUCKNOW', 'M')]
   
cursorObject.executemany(insert_Customer, val)
connection.commit()

In [ ]:
## Inserting data into "Category"

insert_Category = """INSERT INTO Category (CAT_ID, CAT_NAME) VALUES (%s, %s)""" 

val = [(1,'BOOKS'),
       (2,'GAMES'),
       (3,'GROCERIES'),
       (4,'ELECTRONICS'),
       (5,'CLOTHES')]
   
cursorObject.executemany(insert_Category, val)
connection.commit()

In [ ]:
## Inserting data into "Product"

insert_Product = """INSERT INTO Product (PRO_ID , PRO_NAME, PRO_DESC, CAT_ID) VALUES (%s, %s, %s, %s)""" 

val = [(1,'GTA V', 'DFJDJFDJFDJFDJFJF', 2),
       (2,'TSHIRT', 'DFDFJDFJDKFD', 5),
       (3,'ROG LAPTOP', 'DFNTTNTNTERND', 4),
       (4,'OATS', 'REURENTBTOTH', 3),
       (5,'HARRY POTTER', 'NBEMCTHTJTH', 1)]
   
cursorObject.executemany(insert_Product, val)
connection.commit()

In [ ]:
## Inserting data into "Product_Details"

insert_Product_Details = """INSERT INTO Product_Details (PROD_ID , PRO_ID, SUPP_ID, PROD_PRICE) VALUES (%s, %s, %s, %s)""" 

val = [(1, 1, 2, 1500),
       (2, 3, 5, 30000),
       (3, 5, 1, 3000),
       (4, 2, 3, 2500),
       (5, 4, 1, 1000)]
   
cursorObject.executemany(insert_Product_Details, val)
connection.commit()

In [ ]:
## Inserting Values into "Orders" table

insert_Orders = "INSERT INTO Orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) VALUES (%s, %s, %s, %s, %s)"
val = [(20,1500,"2021-10-12",3,5),
       (25,30500,"2021-09-16",5,2),
       (26,2000,"2021-10-05",1,1),
       (30,3500,"2021-08-16",4,3),
       (50,2000,"2021-10-06",2,1)]


cursorObject.executemany(insert_Orders, val)
connection.commit()

In [ ]:
## Inserting Values into "Rating" table

insert_Rating = "INSERT INTO Rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s, %s, %s, %s)"
val = [(1, 2, 2, 4),
       (2, 3, 4, 3),
       (3, 5, 1, 5),
       (4, 1, 3, 2),
       (5, 4, 5, 4)]


cursorObject.executemany(insert_Rating, val)
connection.commit()